
// Include the theme mixins for other components you use here.
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  flex-direction: column;
  display: flex;
  color: rgba(0,0,0,0.87);
  border-radius: 4px;
  min-height: 20px;
  padding: 19px;
  margin: 20px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  max-width: 1117px;
  min-width: 70%;
  margin: 20px auto;
}


.version-info, .mat-toolbar.mat-primary, .toolbar {
  background: rgb(79,94,175)!important;
  background: linear-gradient(180deg, rgba(79,94,175,1) 0%, rgba(23,33,105,1) 95%, rgba(255,105,135,1) 95%, rgba(255,64,129,1) 100%)!important;
}

.version-info {
  font-size: 8pt;
  padding: 0px;
  align-self: center;
  width: 100%;
  color: #efeded;
  position: absolute;
  bottom: 0px;
}

.version-info span {
  float: right;
  position: relative;
  margin-right: 10px;
}


.info {
  position: absolute;
  float: right;
  font-size: 12px;
  color:#4D5CAC;
  top: 35px; right: 10px;
}

.address {
  margin:10px auto auto auto;
  font-size:11px;
  color:gray;
}

.fluxTitle {
  margin: 1px 5px;
  color: #3f51b5;
  padding: 0.2em 0.6em 0.3em;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1;
}

