<form [formGroup]="form">

  <div style="padding: 10px;margin-left: 10px;width: 40%; color: rgba(0,0,0,.54);">
    <app-slide-toggle-error (eventSlideToggle)="hint=!hint"> </app-slide-toggle-error>
    <!-- stackblitz -->
  </div>

  <!-- BEGINNING PICKER DATE -->
  <div style="padding: 10px;margin-left: 10px;width: 40%; color: rgba(0,0,0,.54);">
    <jps-multi-datepicker
      formControlName="year"
      tabindex="-1"
      mode="YEAR"
      label="Annee"
      [(ngModel)]="chosenYearDate"
      [max]="2021"></jps-multi-datepicker>
    {{ chosenYearDate }}
  </div>
  <!-- END PICKER DATE -->

    <mat-form-field fxFlex appearance="legacy" style="padding: 10px;margin-left: 10px;width: 40%;">
      <mat-label> Saison </mat-label>
      <mat-select formControlName="select_saison" name="select_saison" required>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let utilisateur of utilisateurs" [value]="utilisateur.value">

        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex appearance="legacy" style="padding: 10px;margin-left: 10px;width: 40%;">
      <mat-label> Mois | semaine  </mat-label>
      <input matInput placeholder="NUMBER" formControlName="saison" required matTooltip=" ">
      <mat-icon matSuffix>cloud_queue</mat-icon>


      <mat-hint *ngIf="hint" class="hint-error">
          La valeur doit être en format numérique.
      </mat-hint>

      <mat-hint *ngIf="!hint" class="hint-error">
        Mois | semaine
      </mat-hint>

    </mat-form-field>




  <mat-form-field fxFlex appearance="legacy" style="padding: 10px;margin-left: 10px;width: 40%;">
    <mat-label>Utilisateurs </mat-label>
    <mat-select formControlName="id_utilisateur" name="utilisateur">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let utilisateur of utilisateurs" [value]="utilisateur.value">
        ID : {{utilisateur.value}} NOM : {{utilisateur.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- BEGINNING Datepicker Format -->




  <!-- END Datepicker Format -->

  <div style="padding: 10px;margin-left: 10px;width: 40%; color: rgba(0,0,0,.54);">
    <mat-icon matSuffix>swap_horiz</mat-icon>  Provisoire: <mat-checkbox formControlName="provisoire"> </mat-checkbox>
  </div>

  <div style="padding: 10px;margin-left: 10px;width: 40%; color: rgba(0,0,0,.54);"></div>



  <app-buttons-test-clear
    [form]="form"
    [formApi]="getValueFromInputApi()">
  </app-buttons-test-clear>

</form>
